/* ====================================================================
                                RESET
=====================================================================*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ====================================================================
                                
=====================================================================*/

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
}

input {
    width: 500px;
    margin-block: 20px;
}


.good {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: black;
}

.nothealthy {
    background-color: red;
}